* {
    font-family: 'IRANSansWeb(FaNum)', sans-serif;
    direction: rtl !important;
    user-select: none;
    list-style: none !important;
    text-decoration: none !important;
}

.w-33 {
    width: 33% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60-px {
    width: 60px !important;
}

.mw-65-px {
    max-width: 65px !important;
}

.mw-100-px {
    max-width: 100px !important;
}

.mw-115-px {
    max-width: 115px !important;
}
